/* Override carousel arrows */
.carousel--arrow::before {
  content: unset;
}

.carousel--arrow svg {
  background-color: white;
  height: 50px;
  width: 50px;
}

/* Override vertical timeline animation on small screens */
@media only screen and (max-width: 1169px) {
  .vertical-timeline--animate .vertical-timeline-element-content.bounce-in {
    visibility: visible;
    animation: timeline-slide 0.4s;
  }
}

@keyframes timeline-slide {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  60% {
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
